/* ========== VARIABLES GLOBALES ========== */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --rojo: #e5252e;
    
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    
    --card-size: 240px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    padding: 0 20px;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

/* ========== FORMULARIOS ========== */
.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

/* ========== BOTONES ========== */
.primary-button {
    background-color: var(--rojo);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--rojo);
    color: var(--rojo);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

/* ========== email ========== */
.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
    justify-self: center;
}

.email-icon {
    width: 80px;
}

.resend {
    font-size: var(--sm);
    text-align: center;
    margin-top: 16px;
}

.resend span {
    color: var(--very-light-pink);
}

.resend a {
    color: var(--rojo);
    text-decoration: none;
    font-weight: bold;
}

/* ========== login ========== */
.forgot-password {
    font-size: var(--sm);
    color: var(--rojo);
    text-decoration: none;
    margin-bottom: 24px;
    margin-top: 16px;
    text-align: center;
}

.rojito {
    color: var(--rojo);
    font-weight: 400;
}

/* ========== singup ========== */
.signup-container {
    width: 100%;
    max-width: 300px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-fields {
    flex-grow: 1;
}

.signup-create-button {
    margin-top: auto;
}

/* ========== edit ========== */
.value {
    font-size: var(--md);
    font-weight: 300;
    color: var(--very-light-pink);
    margin-bottom: 24px;
    padding: 8px 12px;
    background-color: var(--text-input-field);
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
}

.edit-button {
    margin-top: auto;
}

/* ========== main ========== */
.main-container {
    width: 100%;
    padding: 0 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
}

.product-card {
    width: var(--card-size);
}

.product-card img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/* ========== MENU-DESKTOP ========== */
.desktop-menu {
    width: 140px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 60px;
    left: 50px;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    font-size: var(--md);
}

/* ========== MENU-MOBILE ========== */
.mobile-menu {
    padding: 24px;
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
    color: var(--very-light-pink);
}

.mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--black);
    font-weight: bold;
}

/* ========== MEDIA QUERIES========== */
@media (max-width: 640px) {
    .logo {
        display: block;
    }
    
    :root {
        --card-size: 140px;
    }
    
    .signup-container {
        height: calc(100vh - 40px);
        padding-top: 20px;
    }
    
    .signup-form {
        min-height: 100%;
        justify-content: space-between;
    }
    
    .edit-button {
        margin-top: 32px;
    }
}

@media (min-width: 641px) {
    .signup-container {
        height: auto;
        padding: 20px;
    }
    
    .signup-form {
        height: auto;
    }
    
    .signup-create-button {
        margin-top: 32px;
    }
    
    .edit-button {
        margin-top: 32px;
    }
}