
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --rojo: #e5252e;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}



body {
       margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    padding: 0 20px;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.primary-button {
    background-color: var(--rojo);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}


.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
    justify-self: center;
}

.email-icon {
    width: 80px;
}

.resend {
    font-size: var(--sm);
    text-align: center;
    margin-top: 16px;
}

.resend span {
    color: var(--very-light-pink);
}

.resend a {
    color: var(--rojo);
    text-decoration: none;
    font-weight: bold;
}
.forgot-password {
    font-size: var(--sm);
    color: var(--text-input-field);
    text-decoration: none;
    margin-bottom: 16px;
    text-align: center;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--text-input-field);
    color: var(--text-input-field);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.forgot-password {
    font-size: var(--sm);
    color: var(--rojo);
    text-decoration: none;
    margin-bottom: 24px;
    margin-top: 16px;
    text-align: center;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--rojo);
    color: var(--rojo);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;

}
.rojito{
  color: var(--rojo);
  font-weight: 400;
}


.signup-container {
    width: 100%;
    max-width: 300px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-fields {
    flex-grow: 1;
}

.signup-create-button {
    margin-top: auto;
}
.value {
    font-size: var(--md);
    font-weight: 300;
    color: var(--gris);
    margin-bottom: 24px;
    padding: 8px 12px;
    background-color: var(--muy-claro);
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
}

.edit-button {
    margin-top: auto;
}

@media (max-width: 640px) {
    .logo {
        display: block;
    }
     .edit-button {
        margin-top: 32px;
    }
    .edit-button {
        margin-top: 32px;
    }
     .signup-container {
        height: calc(100vh - 40px);
        padding-top: 20px;
    }
    
    .signup-form {
        min-height: 100%;
        justify-content: space-between;
    }
     .signup-container {
        height: auto;
        padding: 20px;
    }
    
    .signup-form {
        height: auto;
    }
    
    .signup-create-button {
        margin-top: 32px;
    }
}
