<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    
    <!-- Hoja de estilos global -->
    <link rel="stylesheet" href="../styles.css">
    
    <!-- Favicon del sitio -->
    <link rel="icon" type="image/svg" href="../logos/favicon.svg">
    
    <title>Main - Products</title>
</head>
<body>
    <!-- Contenedor principal de la vista de productos -->
    <section class="main-container">
        <!-- Contenedor de tarjetas de productos  -->
        <div class="cards-container">
            
            <!-- Tarjeta de producto 1: Banana -->
            <div class="product-card">
                <img src="https://mercaldas.vtexassets.com/arquivos/ids/229745/Banano-criollo-1-und_122653.jpg?v=637836619022430000" alt="Banana">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banana</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 2: Manzana -->
            <div class="product-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYRzUlZqvJPasv3SYMzYSdk4C7FkKOG5vCdA&s" alt="manzana">
                <div class="product-info">
                    <div>
                        <p>$ 15.000</p>
                        <p>Manzana</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 3: Naranja -->
            <div class="product-card">
                <img src="https://image.tuasaude.com/media/article/uk/dg/beneficios-da-laranja_53623.jpg?width=686&height=487" alt="naranja">
                <div class="product-info">
                    <div>
                        <p>$ 12.000</p>
                        <p>Naranja</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 4: Fresa -->
            <div class="product-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0WyUlYaBikCtpLfv1Ga4ETr0QdZX40ZoTtg&s" alt="fresa">
                <div class="product-info">
                    <div>
                        <p>$ 25.000</p>
                        <p>Fresa</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 5: Uvas -->
            <div class="product-card">
                <img src="https://www.gastronomiavasca.net/uploads/image/file/3436/w700_uva_morada.jpg" alt="uvas">
                <div class="product-info">
                    <div>
                        <p>$ 18.000</p>
                        <p>Uvas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 6: Sandía -->
            <div class="product-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlxYmM_4r_DiygFAiwR-9vVk_ExmBkbspxdQ&s" alt="sandia">
                <div class="product-info">
                    <div>
                        <p>$ 30.000</p>
                        <p>Sandia</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 7: Piña -->
            <div class="product-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2hbUjsowShRxl3eOGhJxeGUH8wEkmZsJL5g&s" alt="Piña">
                <div class="product-info">
                    <div>
                        <p>$ 22.000</p>
                        <p>Piña</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 8: Mango -->
            <div class="product-card">
                <img src="https://res.cloudinary.com/freshis/image/upload/v1649685993/mango_6f4f04bff3.jpg" alt="Mango">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Mango</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 9: Durazno -->
            <div class="product-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2crgUgnV-7S3-hx8t2HQSx1trN8cXchnKYg&s" alt="Durazno">
                <div class="product-info">
                    <div>
                        <p>$ 16.000</p>
                        <p>Durazno</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 10: Kiwi -->
            <div class="product-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAPNjXISiLerqGoIHBtv_k7_kWMZO8Anllcw&s" alt="Kiwi">
                <div class="product-info">
                    <div>
                        <p>$ 14.000</p>
                        <p>Kiwi</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

            <!-- Tarjeta de producto 11: Coco -->
            <div class="product-card">
                <img src="https://static.bainet.es/clip/12469e36-a1dc-4148-b449-b209d47db9e0_source-aspect-ratio_1600w_0.jpg" alt="COCO">
                <div class="product-info">
                    <div>
                        <p>$ 28.000</p>
                        <p>coco</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Add to cart">
                    </figure>
                </div>
            </div>

        </div>
    </section>
</body>
</html>